<template>
  <div>
  <div class="find-andi">
    <h1>This is the find ANDi page</h1>

    <TagsSelection :tags="tags" :tags-to-match="tagsToMatch"/>

    <div class="tile is-child notification is-primary" v-for="andiToMatch in foundAndis" :key="andiToMatch.id">
      <AndiDescription :andi="andiToMatch.andiWithMatchingSkills"/>
    </div>

  </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Tags from '../../data/tags.json';
import Andis from '../../data/andis.json';
import AndiDescription from './AndiDescription.vue';
import TagsSelection from '../components/TagsSelection.vue';

export default {
  components: { TagsSelection, AndiDescription },
  data() {
    return {
      tags: Tags,
      andis: Andis,
      tagsToMatch: [],
    };
  },
  computed: {
    foundAndis() {
      const vm = this;
      const andisWithMatchingSkills = [];
      this.andis.forEach((andiToMatch) => {
        const matchingSkills = vm.tagsToMatch.filter(tagToFind => andiToMatch.skills.indexOf(tagToFind.name) !== -1);
        if (matchingSkills.length >= 1) {
          andisWithMatchingSkills.push({
            andiWithMatchingSkills: andiToMatch,
            matchingSkills,
          });
        }
      });
      return andisWithMatchingSkills;
    },
  },
};
</script>

<style lang="scss" scoped>
h1 {
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    padding-bottom: 30px;
}
</style>
