<template>
  <div>
    <div class="level">
      <div class="level-item">

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Search</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input type="text" class="input" v-model="searchInput" placeholder="Search by tag name..."/>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="level">
      <ul>
        <li v-bind:key="tag.id" v-for="tag in filteredTags">
          <tag-element :tag="tag" :tagsToMatch="tagsToMatch"></tag-element>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import TagElement from './TagElement.vue';

export default {
  name: 'TagsSelection',
  components: { TagElement },
  props: {
    tags: {},
    tagsToMatch: {},
  },
  data() {
    return {
      searchInput: '',
    };
  },
  computed: {
    filteredTags() {
      const vm = this;
      return this.tags.filter(tag => tag.name.toLowerCase().includes(vm.searchInput.toLowerCase()));
    },
  },
};
</script>
<style lang="scss" scoped>
  ul {
    list-style-type: none;
    padding: 0 0 20px;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
</style>
